@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}


#explorer-tbl {
    position: absolute;
    background-color: white;
    z-index: 9999;
    top: 10px;
    left: 10px;
    padding: 3px;
    border: none;
}

.explorer-tbl-header {
    border: none;

}

.explorer-tbl-header .explorer-tbl-cell {
    padding: 4px 7px 2px; /* default override cell padding */
}

.explorer-tbl-row {
    border: none;
    height: 3em;
}

.explorer-tbl-row:nth-child(2n-1) { background-color: #eeeeee; }
.explorer-tbl-row:nth-child(2n) { background-color: #f9f9f9; }

.explorer-tbl-cell {
    border: none;
    box-sizing: unset;
    padding: 0 2px;
    text-align: center;
    line-height: 3em;
    vertical-align: top;
}

.explorer-tbl-player-col-cell {
    border: none;
    display: inline-flex;
    padding: 0;
    line-height: 3em;
}

.explorer-tbl-player-col-cell-color {
    width: 6px;
    background-color: #000;
    display: inline-block;
}

.explorer-tbl-player-name {
    margin: 0px 10px 0 4px;
}

.explorer-tbl-player-col-header {
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding-left: 10px; /* width of cell-color + margin-left of player-name */
    font-size: 85%;
}

.explorer-tbl-resource-icon {
    width: 24px;
    height: 36px;
}

#explorer-hints {
    position: absolute;
    background-color: white;
    z-index: 9999;
    top: 10px;
    right: 10px;
    padding: 6px 8px;
    border: 1px solid #dddddd;
    min-width: 220px;
}

.explorer-hints-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 85%;
    margin-bottom: 6px;
}

.explorer-hints-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6px;
}

.explorer-hints-row:last-child {
    margin-bottom: 0;
}

.explorer-hints-player {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    min-width: 90px;
}

.explorer-hints-player-color {
    width: 6px;
    height: 16px;
    background-color: #000;
    display: inline-block;
}

.explorer-hints-player-name {
    margin-left: 4px;
    font-weight: 600;
}

.explorer-hints-text {
    font-size: 90%;
    line-height: 1.2em;
}
